#nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
  }
  @media (max-width: 768px) {
    /* Add your responsive styles here */
  }
  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }